body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
figure,
fieldset, legend,
input, button, select, textarea,
menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
}